<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Model File -->
  <arg name="model_file" default="$(find fall_and_collision_detection)/urdf/model.sdf"/>

  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/fncd.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="model_name" value="$(arg model_file)"/>
  </include>

</launch>